/* --------------------------------------------------------
E2E-Stylesheet
----------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --e2e-bg-color:                     #06618e;
    --e2e-border-color:                 #689c40;
    --e2e-dropdown-hover-color:         #e8e8e8;

    --e2e-button-color:                 #06618e;
    --e2e-button-border-color:          #055076;
    --e2e-button-hover-color:           #2695cc;
    --e2e-button-active-color:          #043953;
    --e2e-button-active-border:         #033249;
    --e2e-button-selected-color:        #689c40;
    --e2e-button-selected-border-color: #46692b;

    --e2e-grey-button:                  #bbb6b9;
    --e2e-grey-button-border:           #6a7480;
}

* {
    font-family: 'Roboto', sans-serif;
}

.login-pf .container .details {
    /*Border is not needed for now*/
    border-left: 0px !important;
}